p {
    background-color: red;
    color: black;
}

strong {
    color: black;
}

h1 {
    color: blue;
}

h2 {
    color: red;
}

* {
    color: orange;
}

#other-website {
    color: purple;
}

#head {
    color: red;
}